html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--red: #f54932;
	--orange: #fbce51;
	--white: #e9ded4;
	--grey: #313131;
	--dark-grey: #1f1f1f;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
	line-height: 120%;
	color: #313131;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

img,
button {
	user-select: none;
	-webkit-user-drag: none;
}

a {
	text-decoration: inherit;
}

.container {
	max-width: 1222px;
	margin: 0 auto;
}

header {
	height: 700px;
	background: var(--white);
	padding-top: 26px;
	position: relative;
	overflow: hidden;
	margin-right: -17px;
}

header::after {
	content: '';
	background: url('./images/header-texture.png');
	width: 1920px;
	height: 1080px;
	z-index: 50;
	top: 0;
	position: absolute;
	mix-blend-mode: color-burn;
	background-size: 100%;
	background-position: center;
}

.header__ellipse,
.header__ellipse__text {
	animation: ellipse 5s infinite ease;
}

@keyframes ellipse {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.05;
	}
	100% {
		scale: 1;
	}
}

.header__objects {
	position: absolute;
	bottom: 0;
	right: 134px;
	pointer-events: none;
}

.header__objects-path {
	position: absolute;
	bottom: 0;
	right: 153px;
	pointer-events: none;
	z-index: 90;
	filter: drop-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.25));
}

.header__chess-1 {
	position: absolute;
	right: 609px;
	bottom: 0;
	animation: chess-1 8s infinite ease;
	z-index: 100;
}

.header__chess-2 {
	position: absolute;
	right: 320px;
	bottom: 19px;
	animation: chess-2 8s infinite ease;
	z-index: 100;
}

@keyframes chess-1 {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(8%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes chess-2 {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-8%);
	}
	100% {
		transform: translateX(0%);
	}
}

.header__ellipse {
	width: 660px;
	height: 660px;
	background-color: var(--orange);
	position: absolute;
	right: 309px;
	bottom: 86px;
	border-radius: 50%;
}

.header__ellipse__text {
	position: absolute;
	right: 250px;
	top: 0;
	mix-blend-mode: overlay;
}

.logo {
	margin-bottom: 58px;
	height: 36px;
	fill: #595653;
	position: relative;
	z-index: 100;
}

.header__headlines {
	margin-bottom: 24px;
}

.header__headline {
	width: 542px;
	font-size: 60px;
	color: var(--grey);
	font-family: Merriweather;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 66px;
	word-wrap: break-word;
	z-index: 100;
	position: relative;
}

.header__headline:nth-child(2) {
	text-align: center;
}

.header__headline:nth-child(3) {
	text-align: end;
}

.header__message {
	width: 542px;
	text-align: center;
	color: var(--grey);
	font-size: 18px;
	font-family: Golos Text;
	font-weight: 400;
	line-height: 23.4px;
	word-wrap: break-word;
	margin-bottom: 39px;
	z-index: 100;
	position: relative;
}

.header__buttons {
	display: flex;
	gap: 16px;
}

.header__button {
	width: 263px;
	height: 72px;
	padding: 20px;
	font-size: 16px;
	z-index: 100;
	font-weight: 500;
	transition: all 0.2s;
	cursor: pointer;
}

.header__button_black {
	background: var(--dark-grey);
	border-radius: 66px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.header__button_black:hover {
	background: #fbce51;
	border-radius: 66px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.header__button_black:hover .header__button_black__inner {
	color: var(--dark-grey);
}

.header__button_black__inner {
	width: 165px;
	text-align: center;
	color: white;
	font-family: Golos Text;
	line-height: 20.8px;
	word-wrap: break-word;
}

.header__button_transparent {
	height: 72px;
	border-radius: 66px;
	border: 2px var(--dark-grey) solid;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	background: transparent;
}

.header__button_transparent__inner {
	width: 100px;
	text-align: center;
	color: var(--dark-grey);
	font-family: Golos Text;
	line-height: 20.8px;
	word-wrap: break-word;
}

.header__button_transparent:hover {
	background: var(--dark-grey);
}

.header__button_transparent:hover .header__button_transparent__inner {
	color: white;
}

.marquee {
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	background: #f54932;
}

.marquee__line {
	font-family: Merriweather;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24.2px;
	white-space: nowrap;
	word-wrap: break-word;
	color: white;
	font-size: 22px;
	margin: 0;
	white-space: nowrap;
	flex-shrink: 0;
	animation: marquee 10s linear infinite;
}

.marquee__line::after {
	content: 'Дело помощи утопающим — дело рук самих утопающих! • Шахматы двигают вперед не только культуру, но и экономику! • Лед тронулся, господа присяжные заседатели! • ';
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

.support {
	margin-top: 80px;
	margin-bottom: 188px;
}

.support__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.support__item:nth-child(1) {
	margin-bottom: 64px;
}

.support__item:nth-child(2) {
	align-items: start;
}

.support__text {
	font-family: Merriweather;
	font-weight: 400;
	font-size: 36px;
	line-height: 135%;
	text-transform: uppercase;
	color: var(--grey);
	font-variant-numeric: lining-nums;
}

.support__item:nth-child(1) .support__text {
	width: 764px;
	float: left;
}

.support__item:nth-child(2) .support__text {
	width: 704px;
	margin-bottom: 60px;
}

.players__img {
	height: 250px;
	width: 394px;
}

.game__img {
	margin-top: -28px;
	margin-left: -28px;
}

.red {
	color: var(--red);
	font-weight: 700;
}

table {
	border-collapse: collapse;
	border-style: hidden;
	table-layout: fixed;
	margin-bottom: 48px;
}

table td {
	border: 2px solid #d0d0d0;
	padding: 15px;
	padding-right: 20px;
	font-family: 'Golos Text';
	font-size: 20px;
	line-height: 120%;
	color: #313131;
}

table tr:first-child > td {
	padding-top: 0;
}

table tr:last-child > td {
	padding-bottom: 0;
}

.table-left__text {
	font-weight: 400;
	opacity: 0.7;
	padding-left: 0;
	white-space: nowrap;
}

.table-right__text {
	font-weight: 600;
	width: 100%;
	padding-left: 16px;
}

.discount {
	text-decoration: line-through;
	text-decoration-color: var(--red);
}

.support__link {
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #3057a2;
}

.sl-2 {
	width: 280px;
	display: inline-block;
	position: absolute;
	bottom: 65px;
	left: 301px;
}

.steps__heading {
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 54px;
	line-height: 120%;
	text-transform: uppercase;
	color: var(--grey);
	width: 806px;
	display: inline-block;
	text-align: left;
	margin-bottom: 54px;
}

.section__heading__container {
	position: relative;
}

.steps {
	margin-bottom: 200px;
}

.steps__item {
	width: 394px;
	height: 112px;
	background: var(--white);
	padding: 20px;
	display: flex;
	gap: 16px;
	background-image: url('./images/cooper-stamp-paper.png');
	position: relative;
}

.steps__item::after {
	content: '';
	width: 394px;
	height: 112px;
	flex-shrink: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('./images/header-texture.png');
	mix-blend-mode: color-burn;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.steps__item__num {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Golos Text';
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: var(--grey);
	background-color: #fff;
	width: 36px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 50%;
	z-index: 100;
}

.steps__item__desc {
	font-family: 'Golos Text';
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: var(--grey);
	z-index: 100;
}

.steps__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 136px;
	gap: 20px 20px;
	grid-template-areas:
		'card-1 card-2 card-3'
		'card-4 card-5 card-3'
		'card-6 card-7 card-7';
}

.card-1 {
	grid-area: card-1;
}
.card-2 {
	grid-area: card-2;
}
.card-3 {
	grid-area: card-3;
	height: 100%;
}
.card-4 {
	grid-area: card-4;
}
.card-5 {
	grid-area: card-5;
}
.card-5 > p {
	grid-area: card-5;
	width: 300px;
}
.card-6 {
	grid-area: card-6;
	height: 100%;
}
.card-7 {
	grid-area: card-7;
	width: 100%;
	height: 100%;
	position: relative;
}

.card-7 > p {
	width: 446px;
}

.airplane__img {
	position: absolute;
	right: -63px;
	bottom: -1px;
	animation: airplane 6s infinite ease;
}

@keyframes airplane {
	0% {
		transform: translateX(0%) scale(1) rotate(4deg);
	}
	50% {
		transform: translateX(1%) scale(1.02) rotate(-2deg);
	}
	100% {
		transform: translateX(0%) scale(1) rotate(4deg);
	}
}

.members {
	margin-bottom: 140px;
}

.members__heading-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.members__heading {
	width: 806px;
	font-family: 'Merriweather';
	font-weight: 400;
	font-size: 54px;
	line-height: 120%;
	text-transform: uppercase;
	color: var(--grey);
}

.members__wrapper {
	display: flex;
	gap: 20px;
}

.members__item {
	width: 394px;
	height: 462px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
}

.member__avatar {
	width: 320px;
	height: 320px;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--grey);
	background-image: url('./images/cooper-stamp-paper.png');
	margin-bottom: 28px;
}

.member__avatar > img {
	position: relative;
	top: 21px;
	left: 14px;
}

.member__name {
	font-family: 'Golos Text';
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	color: var(--grey);
	margin-bottom: 6px;
}

.member__status {
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: var(--grey);
	opacity: 0.6;
	margin-bottom: 20px;
}

.member__btn {
	font-family: 'Golos Text';
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #3057a2;
	border: 1px solid #3057a2;
	border-radius: 62px;
	padding: 12px;
	width: 113px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	cursor: pointer;
	transition: 0.2s;
}

.member__btn:hover {
	color: #fff;
	background-color: #3057a2;
}

.slider__buttons-container {
	display: flex;
	gap: 14px;
	align-items: center;
	font-family: 'Golos Text';
}

.slider__button {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: var(--grey);
	cursor: pointer;
}

.slider__pages_total {
	color: #aaa;
}

.slider__pages_current {
	opacity: 1;
}

.right-arrow {
	transform: rotate(180deg);
	padding-right: 5px;
}

.left-arrow {
	padding-right: 3px;
}

footer {
	background-color: var(--white);
}

footer > .container > p {
	padding: 40px 0 72px;
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: var(--grey);
	opacity: 0.6;
}

@media screen and (max-width: 1366px) {
	header {
		margin-right: 0;
	}

	.header__chess_1,
	.header__chess_2,
	.header__objects,
	.header__ellipse,
	.header__ellipse__text,
	.header__objects-path {
		transform: translateX(275px);
	}

	.support__item:nth-child(2) .support__text {
		width: 704px;
	}
}
